extends ../../layout/index
block cuerpocontenido
    h1.text-center=pagina
    if errores
        div(class="row justify-content-center text-bg-danger" )
            div(class="col-md-4")
                each er in errores
                    h1(class="fw-bold fs-6")=er.msg
    div(class="row justify-content-center")
        div(class="col-md-5")
            form(class="space-y-5" action="/hotel/gerente/registrandoGerente" method="POST" noValidate)
                div(class="mb-1")
                    label(for="hotelid" class="form-label") Nombre del Hotel&nbsp; &nbsp; &nbsp;
                    select#hotel(name="id_htl")
                        each datos in info
                            if(datos.dato1!=hotelselect)
                                option(value=datos.dato1) #{datos.dato2}
                            else 
                                option(value=datos.dato1 selected) #{datos.dato2}
                div(class="mb-1")
                    label(for="nombre" class="form-label") Nombre
                    input#nombre(class="form-control" type="text" placeHolder="Nombre del Gerente" name="nombre" value= dato?dato.nombre:'')
                div(class="mb-1")
                    label(for="apaterno" class="form-label") Apellido Paterno
                    input#apaterno(class="form-control" type="text" placeHolder="Apellido Paterno" name="ap_paterno" value=dato?dato.aPaterno:'')
                div(class="mb-1")
                    label(for="amaterno" class="form-label") Apellido Materno
                    input#amaterno(class="form-control" type="text" placeHolder="Apellido Materno" name="ap_materno" value=dato?dato.aMaterno:'')
                div(class="mb-1")
                    label(for="telefono" class="form-label") Telefono
                    input#telefono(class="form-control" type="text" placeHolder="Telefono" name="telefono" value=dato?dato.telef:'')
                div(class="mb-1")
                    button(type="submit" class="btn btn-primary col-auto") Enviar
                    